PUBLIC_SANITY_PROJECT_ID=6yiqg6vd
PUBLIC_SANITY_DATASET=production
SANITY_READ_TOKEN=
SANITY_STUDIO_PROJECT_ID=
SANITY_STUDIO_DATASET=production
RESEND_API_KEY=
RESERVATION_FROM_EMAIL=Šenk rezervace <rezervace@starobrnenskysenk.cz>
RESERVATION_TO_EMAIL=
